*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{

background-image:url("images/image.png");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

min-height:100vh;

}

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.45);

z-index:-1;

}
/* стеклянный header */

header{

backdrop-filter:blur(15px);

background:rgba(0,0,0,0.4);

border-bottom:1px solid rgba(255,255,255,0.2);

}

/* меню */

nav a{

margin:0 15px;

cursor:pointer;

opacity:.8;

}

nav a:hover{

opacity:1;

}


/* страницы */

.page{

display:none;

padding:80px 40px;

}

.page.active{

display:block;

}


/* заголовок */

.title{

font-size:60px;

margin-bottom:20px;

}

.subtitle{

opacity:.7;

}


/* карточки */

.cards{

display:flex;

gap:30px;

margin-top:60px;

flex-wrap:wrap;

}

.card{

background:rgba(255,255,255,.08);

padding:30px;

border-radius:20px;

backdrop-filter:blur(20px);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

background:rgba(255,255,255,.12);

}


/* профиль */

.profile{

text-align:center;

background:rgba(0,0,0,.5);

padding:40px;

border-radius:20px;

max-width:300px;

margin:auto;

backdrop-filter:blur(20px);

}


/* аватар */

.avatarUpload{

cursor:pointer;

display:inline-block;

}

.avatarUpload img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

}

.avatarUpload input{

display:none;

}


/* настройки */

.settings{

max-width:300px;

margin:auto;

display:flex;

flex-direction:column;

gap:15px;

background:rgba(0,0,0,.5);

padding:30px;

border-radius:20px;

backdrop-filter:blur(20px);

}


/* центр карточка */

.centerCard{

text-align:center;

background:rgba(0,0,0,.5);

padding:40px;

border-radius:20px;

max-width:400px;

margin:auto;

}


/* курсор */

.cursor{

width:12px;

height:12px;

background:white;

border-radius:50%;

position:fixed;

pointer-events:none;

transform:translate(-50%,-50%);

mix-blend-mode:difference;

}


/* светлая тема */

.light{

color:black;

}

.light header{

background:rgba(255,255,255,0.6);

backdrop-filter:blur(20px);

}

.light .card{

background:rgba(255,255,255,0.6);

}
