*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Quicksand',sans-serif;

}

body{

background:url("image.png") center/cover no-repeat fixed;

min-height:100vh;

color:white;

position:relative;

}


/* затемнение */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.35);

pointer-events:none;

z-index:0;

}

/* header */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:rgba(0,0,0,0.4);

backdrop-filter:blur(15px);

}


/* меню */

nav a{

margin:0 15px;

cursor:pointer;

transition:.3s;

}

nav a:hover{

opacity:.7;

}


/* страницы */

.page{

display:none;

padding:100px 40px;

}

.page.active{

display:block;

}


/* заголовок */

.title{

font-size:60px;

margin-bottom:20px;

}

.subtitle{

opacity:.8;

}


/* карточки */

.cards{

display:flex;

gap:30px;

margin-top:60px;

flex-wrap:wrap;

}

.card{

background:rgba(255,255,255,.1);

padding:30px;

border-radius:20px;

backdrop-filter:blur(20px);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

background:rgba(255,255,255,.2);

}


/* центр */

.center{

text-align:center;

background:rgba(0,0,0,.5);

padding:40px;

border-radius:20px;

max-width:400px;

margin:auto;

}


/* профиль */

.profile{

text-align:center;

background:rgba(0,0,0,.5);

padding:40px;

border-radius:20px;

max-width:300px;

margin:auto;

}

.profile img{

width:120px;

border-radius:50%;

margin-bottom:20px;

}


/* светлая тема */

.light{

color:black;

}

.light header{

background:rgba(255,255,255,.7);

}

.light .card{

background:rgba(255,255,255,.7);

}
